<!DOCTYPE html>
<html>
    <head>
        <title>E Commerce v2</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="./css/cart_style.css">
        <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
  />
    </head>
    <body>
                <div id="loader-container">
    <div class="loader"></div>
</div>
<%- include("./partials/header.ejs") %><br>
<div id="tit_cart">
<span id="cart_ttl">Here is Your Cart!</span></div>
<div>
<div id="info_btn_check">
    <a href="/"><button id="back" type="button" class="btn btn-primary">Back</button></a>
    <button id="checkout" type="button" class="btn btn-primary">Checkout!</button>
    <a><button id="logout" type="button" class="btn btn-info">Logout</button></a>
</div></div>
    <div id="add_delete">
        <span class="animate__animated animate__fadeIn" id="delete_text">Item Deleted!!</span>
    </div>
<div id="empty">Oops!!<br>Empty</div>
<!-- ------------------Card------------------ -->
<div id="all_card">
  <% for(var i=0;i<item.length;i++){ %>
    <div id=<%= item[i]._id %> class="card card_check">
   <img class='card-img-top-check' alt=<%= item[i].itemName %> src=<%= item[i].source %> />
    <div class='card-body'>
    <h5 class='card-title'><%= item[i].itemName %></h5>
    <p class='card-text'>Price: <%= item[i].rupees %></p>
    <p id='quantity<%= item[i].unique %>' class='card-text'>Quantity: 1
      <div id=<%= item[i].unique %>>
      <div id='pl_mi' class='btn_indc'>
        <button id='minus<%= item[i].unique %>' class='inc-dec'>-</button>
        <button id='plus<%= item[i].unique %>' class='inc-dec'>+</button>
        </div>
        </div>
    </p>
        <div id='two-btn-check'>
          <div id='cart'> <a id='delete' href='#' onclick='return false' class='btn btn-prime'>Delete</a></div>
          <div> <a id='desc' data-bs-target='#DescModal<%= item[i].unique %>' data-bs-toggle='modal' href='' class='btn btn-prime'>View Desc</a></div>
</div>
</div>
    </div>
    <% } %>
  </div>
<!-- ------------------Modal---------------------------------->
<% for(var i=0;i<item.length;i++){ %>
  <div class="modal fade" id="DescModal<%= item[i].unique %>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Product Description</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div id="m_contain">
              <div>  <img src=<%= item[i].source %> alt=<%= item[i].itemName %> id="m_box"> </div><hr>
              <div id="box_desc"><%= item[i].descr %></div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  <% } %>

    <script src="./js/cart_script.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
    </body>